{# {% extends 'layouts/base.html.twig' %}

{% block title parent() ~ ' | Page de connexion '%}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-5 text-center ">Veuillez vous connecter</h1>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger rouded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="checkbox mb-3">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                        <label for="remember_me">Rester connecté</label>
                    </div>
                    <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a>
                
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-block btn-primary" type="submit">
                   S'identifier
                </button>

                <p class="mt-5 mb-3 text-center text-muted">Pas encore inscrit? <a href="{{path('app_register')}}">Créer un compte</a></p>
            </form>
            

        </div>
    </div>

{% endblock %} #}


{% extends 'layouts/base.html.twig' %}

{% block css %}{% endblock %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}

	<section class="section mb-4">

		<div class="container">

			<div id="back" class="card text-small mx-sm-auto bg-light" style="margin-top:50px;width: 30rem;">

				<div class="card-body">

					<form method="post" id="form-login">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<div class="card-header bg-white">
							{% for message in app.flashes('message') %}
								<div class="text-success text-small">
									{{message}}
								</div>
							{% endfor %}
							{% for message in app.flashes('danger') %}
								<div class="text-danger text-small">
									{{message}}
								</div>
							{% endfor %}

							<h2 class="h3 mb-3 font-weight-normal card-title">S'identifier</h2>
						</div>
						<div class="form-group">
							<label for="inputEmail">Adresse électronique</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Entrez votre e-mail" required autofocus autocomplete>
							<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
						</div>
						<div class="form-group">

							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required autocomplete>
							<small id="passwordhelp" class="form-text text-muted">
								<a href="{{path('app_forgot_password_request')}}" class="text-small">(Mot de passe Oublie!)</a>
							</small>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="text-center mb-2">
							<button class="btn btn-primary card-link " type="submit" id="btn-login">
								Se connecter
							</button>

						</div>

					</form>
					<div class="card-footer text-muted text-center bg-white">
						<small class="card-subtitle mb-2 text-muted">Nouveau chez nous ?</small>
						<br/>
						<a href="{{path('app_register')}}" class="btn btn-success card-link">Crée votre compte</a>
					</div>


				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}{% endblock %}
