{% extends 'layouts/base.html.twig' %}

{% block css %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="icon" type="image/png" href="{{asset('Contact/images/icons/Treetog-I-ZIP-File.ico')}}"/>
	<style>

		/* Made with love by Mutiullah Samim*/

		@import url('https://fonts.googleapis.com/css?family=Numans');

		html,body{
		background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		font-family: 'Numans', sans-serif;
		}

		.container{
		height: 100%;
		align-content: center;
		}

		.card{
		height: auto;
		margin-top: auto;
		margin-bottom: auto;
		width: auto;
		background-color: rgba(0,0,0,0.5) !important;
		}

		.social_icon span{
		font-size: 60px;
		margin-left: 10px;
		color: #FFC312;
		}

		.social_icon span:hover{
		color: white;
		cursor: pointer;
		}

		.card-header h3{
		color: white;
		}

		.social_icon{
		position: absolute;
		right: 20px;
		top: -45px;
		}

		.input-group-prepend span{
		width: 50px;
		background-color: #FFC312;
		color: black;
		border:0 !important;
		}

		input:focus{
		outline: 0 0 0 0  !important;
		box-shadow: 0 0 0 0 !important;

		}

		.remember{
		color: white;
		}

		.remember input
		{
		width: 20px;
		height: 20px;
		margin-left: 15px;
		margin-right: 5px;
		}

		.login_btn{
		color: black;
		background-color: #FFC312;
		width: 120px;
		}

		.login_btn:hover{
		color: black;
		background-color: white;
		}

		.links{
		color: white;
		}

		.links a{
		margin-left: 4px;
		}

		</style>

{% endblock %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}

	{# <section class="section mb-4">

		<div class="container">

			<div id="back" class="card text-small mx-sm-auto bg-light" style="margin-top:50px;width: 30rem;">

				<div class="card-body">

					<form method="post" id="form-login">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<div class="card-header bg-white">
							{% for message in app.flashes('message') %}
								<div class="text-success text-small">
									{{message}}
								</div>
							{% endfor %}
							{% for message in app.flashes('danger') %}
								<div class="text-danger text-small">
									{{message}}
								</div>
							{% endfor %}

							<h2 class="h3 mb-3 font-weight-normal card-title">S'identifier</h2>
						</div>
						<div class="form-group">
							<label for="inputEmail">Adresse électronique</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Entrez votre e-mail" required autofocus autocomplete>
							<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
						</div>
						<div class="form-group">

							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required autocomplete>
							<small id="passwordhelp" class="form-text text-muted">
								<a href="{{path('app_forgot_password_request')}}" class="text-small">(Mot de passe Oublie!)</a>
							</small>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="text-center mb-2">
							<button class="btn btn-primary card-link " type="submit" id="btn-login">
								Se connecter
							</button>

						</div>

					</form>
					<div class="card-footer text-muted text-center bg-white">
						<small class="card-subtitle mb-2 text-muted">Nouveau chez nous ?</small>
						<br/>
						<a href="{{path('app_register')}}" class="btn btn-success card-link">Crée votre compte</a>
					</div>


				</div>
			</div>
		</div>
	</section> #}


<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>S'identifier</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.flashes('message') %}
					<div class="card-header bg-white">
						{% for message in app.flashes('message') %}
							<div class="text-success text-small">
								{{message}}
							</div>
						{% endfor %}
						{% for message in app.flashes('danger') %}
							<div class="text-danger text-small">
								{{message}}
							</div>
						{% endfor %}
					</div>
				{% endif %}
				<form method="post" id="form-login">
					<div class="input-group form-group">
						
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Entrez votre e-mail" required autofocus autocomplete>
					</div>
					{# <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required autocomplete>
					</div> #}
					<div class="input-group form-group">

							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
						   </div>
								<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required autocomplete>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox" name="_remember_me">Remember Me
					</div>
					<div class="form-group">
						{# <input type="submit" value="Connexion" class="btn float-right login_btn"> #}
						<button type="submit" class="btn float-right login_btn" >Connexion </button>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Vous n'avez pas de compte ?<a href="{{path('app_register')}}" >S'inscrire</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="{{path('app_forgot_password_request')}}" class="text-small">Mot de passe Oublie?</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}{% endblock %}
