 {% if edit %}
    
        <h1>Creé une nouvelle archive</h1>
    {% else %}
        <h1>Modifié une archive existente</h1>    

    {% endif %}


    {{ form_start(form) }}

        <div class="form-group">
            {{ form_row(form.title)}}
        </div>

        <div class="form-group ">
            {{ form_row(form.Encadreur)}}
        </div>
        <div class="form-group">
            {{ form_row(form.type)}}
        </div>
        <div class="form-group">
            {{ form_row(form.datepromotionOn)}}
        </div>
        <div class="form-group">
            {{ form_row(form.filiere)}}
        </div>
        <div class="form-group">
            {{ form_row(form.imageFile)}}
        </div>
        <div class="form-group">
            {{ form_row(form.description)}}
        </div>
        {% if not edit %}
            <button class="btn btn-primary" type="submite">Enregistre les modifications</button>
        {% else %}
            <button class="btn btn-primary" type="submite">Ajouter</button>	
        {% endif %}

	{{ form_end(form) }}