{% extends "layouts/base.html.twig" %}

{% block title  %}
	{{ parent()}} | {{archive.title}} 
{% endblock %}
{% block body %}

	<div class="row">

		<div class="col-md-6 mx-auto">


			<div class="card bg-light mb-3 d-inline-block border-light rouded shadow ">
				<div class="card-header">
					<h4 class="card-title text-center">
						{{archive.title}}
					</h4>
				</div>

				<div class="card-body">
					
					<h6 class="card-subtitle mb-2 pt-2 text-success">Encadre par
						{{archive.encadreur | nl2br}}</h6>
					<h6 class="card-subtitle mb-2 pt-2 text-info">Type d'archive: {{archive.type}}</h6>
					<p class="card-text text-muted mb-2 pb-3 text-dark">Promotion de 
						{{archive.datepromotionOn | date('Y')}}</p>
					<p class="card-text pl-3 pb-3">{{archive.description}}</p>
					{% if is_granted("ROLE_EDITE_ARCHIVE") %}
						<a href="{{path('app_archives_edit',{slug:archive.slug,id:archive.id})}}" class="card-link">Modifié</a>
					{% endif %}
					
					{% if is_granted("ROLE_DELETE_ARCHIVE") %}
						<form method="post" action="{{path('app_archives_delete',{slug:archive.slug,id: archive.id })}}" style="display:inline-block" onsubmit="return confirm('Etes-vous vraiment sur ?')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete'~ archive.id)}}">
							<button class="card-link">Supprimer</button>
						</form>
					{% endif %}
					
					{% if is_granted("ROLE_DOWNLOAD_FILE") %}
						<p class="text-center"> <a href="{{ asset('uploads/brochures/' ~ archive.rapportfilename) }}" class="card-link">View brochure (PDF)</a> </p>
					{% endif %}


				</div>

				<div class="card-footer text-muted">
					<p>Modifie
						<time datetime="{{archive.updatedAt|date('y-M-d H:i' )}}"> {{archive.updatedAt|ago}}</time>
					</p>
				</div>


			</div>
		</div>

	</div>


{% endblock %}