{% extends "layouts/base.html.twig" %}

{% block title  %}
	{{archive.title}}
{% endblock %}
{% block body %}

	<div class="card bg-light mb-3" style="max-width: 20rem;">

		<div class="card-body">
			<h4 class="card-title">{{archive.title}}</h4>
			<h6 class="card-subtitle mb-2 text-muted">Encadre par
				{{archive.encadreur}}</h6>
			<p class="card-text">{{archive.description}}</p>
			<a href="{{path('app_archives_edit',{slug:archive.slug,id:archive.id})}}" class="card-link">Edite</a>
			<form method="post" action="{{path('app_archives_delete',{slug:archive.slug,id: archive.id })}}" style="display:inline-block" onsubmit="return confirm('Etes-vous vraiment sur ?')">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete'~ archive.id)}}">
				<button class="card-link btn btn-danger">Supprime</button>
			</form>
			
			<a href="{{ asset('uploads/brochures/' ~ archive.rapportfilename) }}" class="card-link">View brochure (PDF)</a>

		</div>
	</div>

	{# 	
		<a href="{{path('app_archives_home_page')}}" class="btn btn-primary">Go back</a>
		<a href="{{path('app_archives_edit',{id : archive.id})}}" class="btn btn-primary">Edite</a> #}
{% endblock %}
