{% extends 'layouts/base.html.twig' %}

{% block title  parent() ~ ' | Page d\'accueil '  %}

{% block body %}

    <h1 class="mb-4 text-center text-muted" >Archives enregistre </h1>

    {% for archive in archives %}

    <div class="card bg-light mb-4 mr-4 d-inline-block border-light rouded shadow" style="max-width: 20rem;">
    
        <div class="card-body " style="font-family:monospace">
            <h4 class="card-title">{{archive.title}}</h4>
            <h6 class="card-subtitle mb-2 text-success">Encadre par {{archive.encadreur}}</h6>
            <p class="card-text">{{archive.description | nl2br | slice(0,100)}}.....</p>
            <span>
            <a href="{{path('app_archives_show',{slug:archive.slug,id:archive.id})}}" class="card-link btn btn-info btn-sm">voir plus</a>
            </span>
           <span>
            <a href="{{ asset('uploads/brochures/' ~ archive.rapportfilename) }}" class="card-link btn btn-success btn-sm">Voir le Rapport (PDF)</a>            
           </span>
        </div>
    </div>
        
    {% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(archives) }}
    </div>
{% endblock %}
